:root {
  /* Farver */
  --baggrund: #f2ebe2;
  --tekst: hsl(0, 0%, 0%);
  --tekst2: #f2ebe2;
  --groen: #8f9779;
  --beige: #d8ccbf;
  --roed: #cd3c2f;

  /* Fonte */
  --font-display: "Clash Display", sans-serif;
  --font-overskrift: "Figtree", sans-serif;
  --font-tekst: "Host Grotesk", sans-serif;

  /* Størrelser */
  --h1: 8rem;
  --h2: 3rem;
  --h3: 2rem;
  --h4: 1.8rem;
  --tekststorrelse: 1rem;
}
