.tema-hero {
  text-align: center;
  padding: 5rem 0;
}

.tema-hero h1 {
  font-size: var(--h1);
}

.tema-hero h2 {
  font-size: var(--h2);
  color: var(--tekst);
}

.tema-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 3rem;

  max-width: 1200px;
  margin: 4rem auto;
  padding: 4rem;

  border-radius: 6rem;
}

.beige {
  background-color: var(--beige);
}

.green {
  color: var(--tekst2);
  background-color: var(--groen);
}

.tema-text {
  display: grid;
  gap: 1.5rem;
}

.tema-text p {
  max-width: 400px;
  line-height: 1.6;
}

.tema-section img {
  height: 20rem;
  max-width: 100%;
  border-radius: 1rem;
  justify-self: center;
  object-fit: cover;
}

/*Projekt link*/
.projekt-link {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.projekt-link a {
  display: inline-block;

  background-color: var(--roed);
  color: white;

  text-decoration: none;
  font-weight: 600;

  padding: 1rem 2.2rem;

  border-radius: 999px;

  transition: all 0.3s ease;
}

/* MOBILE */

@media (max-width: 800px) {
  .tema-section {
    grid-template-columns: 1fr;
    padding: 2rem;
    border-radius: 3rem;
  }

  .tema-section img {
    width: 100%;
    height: auto;
  }

  svg.curved-line {
    display: none;
  }
}
